#fullscreen{position:relative;}

.tm-top-a {margin-top:-220px;}
.home.uk-panel {background:#444444;opacity:0.5;padding:25px;}
.home.uk-panel:hover {opacity:0.85;background:#e5097f;}

#fullscreen.colored{background:#e5097f;padding:25px 0;margin:25px 0;}

#fullscreen.colored p,
#fullscreen.colored h3,
#fullscreen.colored li
{color:#fff;}

#fullscreen.colored a
{color:#ccc;}

.uk-navbar-nav > li > a.uk-button-primary{
color:#fff;

}

/*
@media (min-width: 768px){
	.tm-headerbar {
		float:left;
	}
	.tm-navbar{
		float:right;
	}
	.tm-toolbar	{
		float:right;
	}
	
	.tm-headerbar,
	.tm-navbar
	{
		margin:20px 0;
	}
	
	.tm-toolbar{
		margin:27px 0;
	}

	
	
}

*/

/*header*/
.uk-header{
	background:#fff;
	border-bottom:1px solid #e5097f;
}
.tm-headerbar {
	margin-bottom: 20px;
}
.tm-toolbar {
	margin:20px 0;
}
.tm-toolbar .cMod-Notify{
	margin:0;
}
.visibility-hidden{visibility:hidden;}
.dw-article-transparent .dw-article {
	border: 0;
	background: none;
}

/*** Offcanvas menu *********************************************************/
#howitworks-offcanvas-menu{
	border-top:1px solid #dddddd;
}

/*Map*/
.map-container{position:fixed;height:100%;top:76px;left:0;bottom:0;}
#map-canvas{ position: relative; overflow:hidden ;width:100%;height:100%; top: 0; right: 0; bottom: 0; left: 0;}

/*Opportunity Wizard*/
#opportunity-wizard-toolbar button.published.uk-active{background-color: #8cc14c;color: #ffffff;}
#opportunity-wizard-toolbar button.unpublished.uk-active{background-color: #d32c46;color: #ffffff;}

a.uk-button.facebook{ background:#3F4E7C; color:#ffffff;}

/************** Fullscreen Slideshow ****************/
.uk-cover,
.uk-cover-background
{background:#e5097f;}

/*****************************************************/

.truncate {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Header */
.dw-header-sticky{
	top:0;
	position:fixed;
	z-index:20;
	width:100%;
}
.uk-navbar-toggle-text-link {
	font-size: 17px;
	color: #444444;
	text-decoration: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	line-height: 35px;
	height: 35px;
	float: left;
}
.uk-navbar-toggle-text-link:hover {
	text-decoration: none;
}
.toolbar-r{
	
	font-size: 17px;
	color: #444444;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	line-height: 35px;
	height: 35px;
	
}
.toolbar-r a,
.toolbar-r li a
{	
	font-size: 17px;
	line-height: 35px;
	color: #444444;
	text-decoration: none;
}

.toolbar-r a:hover,
.toolbar-r li a:hover
{
	color: #e5097f;
	text-decoration: none;
}
/*******************************************/

.dw-bottom-b:hover a ,
.dw-bottom-b:hover p,
.dw-bottom-b:hover *
{
	color:#fff!important;
}
/************ Footer ***********************/
.tm-footer {
	background:#444;
}

.tm-footer:hover a ,
.tm-footer:hover p,
.tm-footer:hover *
{
	color:#fff!important;
}

.uk-nav-side > li.uk-active > a {
	background: none;
	color:#e5097f!important;
}
/*****************************************************/

/** Volunteering Opportunities ****************************************************/
.volunteering-opportunity.teaser:hover{background:#ffffff;}
.volunteering-opportunity.teaser:hover .readmore{background:#e5097f;color:#ffffff;}

/** Pagination ****************************************************/
ul.uk-pagination>li { border-radius:50%;}
.uk-pagination > .uk-active > span { border-radius:50%; }
.uk-pagination > li > a { background: #ffffff; border-radius:50%;}

/** Statistics ************************************************************************/
.statistics .number{}
.statistics .pending-color{color:orange;}

/** Icons ************************************************************************/
.uk-icon-extra-large:before {
font-size: 58px;
line-height: 58px;
font-weight: normal;
}
.uk-icon-extra-extra-large:before {
font-size: 500%;
}

/** Text contrast ************************************************************************/
.uk-text-contrast{color:#ffffff;}
.uk-button-contrast{
	border:1px solid #fff;
	background:transparent;
	color:#fff;
	text-decoration:none!important;
}
.uk-button-contrast:hover{
	color:#444444!important;
	text-decoration:none!important;
}

.uk-button-blank{
background: #ffffff;
border:1px solid #dddddd;
}

.uk-button-border{

border:1px solid #444444;
}

.uk-button-blank.uk-active,
.uk-button-blank:hover{
background: #e5097f;
border:1px solid #e5097f;
color:#ffffff!important;
}

.uk-button-warning,
.uk-button-warning:hover
{
background-color: #f9a124;
color:#fff;
}

/** Text size ************************************************************************/

/** Text contrast ************************************************************************/
.uk-text-extra-large {
font-size: 32px;
line-height: 38px;
font-weight: normal;
}
.uk-text-extra-extra-large {
font-size: 48px;
line-height: 64px;
font-weight: normal;
}

/** donorwiz Layout ************************************************************************/
.layout-donorwiz .tm-main{padding-top:76px;}

/** Full Layout ************************************************************************/

/** Map Layout ************************************************************************/
.layout-map .tm-main{padding-top:76px;}

/** Narrow Layout ************************************************************************/


/** Social Login Buttons ************************************************************************/
.uk-button.facebookslogin{background:#3F4E7C;color:#ffffff;border:1px solid #3F4E7C;}
.uk-button.facebookslogin:hover{background:#ffffff;color:#3F4E7C;}
.uk-button.googleslogin{background:#DD4B38;color:#ffffff;border:1px solid #DD4B38;}
.uk-button.googleslogin:hover{background:#ffffff;color:#DD4B38;}


/* Dashboard ***********************************************************************************/
.uk-nav li > a{ color:#ffffff;}
.uk-nav li > a:hover,
.uk-nav li.uk-active > a
{ color:#e5097f;}



/*Reset slogin css*/
.slogin-buttons .googleslogin {
  opacity: 1;
}

.slogin-buttons .facebookslogin {
  opacity: 1;
}
.slogin-buttons a {
  display: block;
  width: auto;
  margin: 0;
}
.slogin-buttons a, .slogin-buttons a:hover {
  -webkit-border-radius: 0px;
  -moz-border-radius:0px;
  border-radius: 0px;
  text-decoration: none;
  float: none;
}

.slogin-buttons span {
  height: 50px;
  width:auto;
  display: block;
}
/** Forms *********************************************************************************/
.uk-form-large.invalid{
border-color: #dc8d99!important;
background: #fff7f8!important;
color: #d85030!important;
}


/** Bottom - B **********************************************************************/
.dw-bottom-b{background:#444;}


/** Thumbnails ***********************************************************************/
.uk-thumbnail-extra-mini{
	max-width: 32px;
}

/** uk panel box ***********************************************************************/
.uk-panel-box-account{
	background: #e5097f;
	color: #ffffff;
}
.uk-panel-box-donations{
	background: #e5097f;
	color: #ffffff;
}
.uk-panel-box-volunteers{
	background: #e5097f;
	color: #ffffff;
}
.uk-panel-dark {
	background: #333333;
	color: #ffffff;
}


.uk-panel-border {
	border:1px solid rgba(0,0,0,.1);
}

.uk-panel-widget {
	border:1px solid rgba(0,0,0,.3);
}

.uk-panel-transparent {
	opacity: 0.5;
}
.uk-panel-transparent:hover{
	opacity: 1;
}

.uk-panel-shadow {
	-moz-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
	
}
.uk-panel-transparent {
	background: transparent;
}

.uk-panel-bg {
	background: #e5e5e5;
}

.uk-panel-blank {
	background: #ffffff;
}
.uk-panel-primary {
	background: #e5097f;
}
.uk-panel-dark .uk-nav-side .uk-nav-header {
	color: #ffffff;
}
.uk-panel-dark .uk-nav-side > li > a {
	color: #ffffff;
}
.uk-panel-dark .uk-nav-side .uk-nav-divider {
	border-top: 1px solid #555555;
}

#jform_amount.amnt>input[type=radio]{margin:0 3px;}

#jform_amount0[type=radio]:before{content:'5';}
#jform_amount1[type=radio]:before{content:'10';}
#jform_amount2[type=radio]:before{content:'20';}
#jform_amount3[type=radio]:before{content:'50';}

.uk-form .amnt input[type=radio] {
  width: 44px;
  height: 44px;
}
#jform_amount.amnt>input[type=radio]:before{
	display:block;
	width: 38px;
	height: 38px;
	margin: 2px auto 0;
	line-height:38px;
	text-align:center;
	color:#999;
}

.uk-form .amnt input[type=radio]:checked:before {


	color:#ffffff!important;
}

#jform_amount_custom{display:none;}

/** Jomsocial ************************************************************/
a[title="JomSocial, Social Networking for Joomla!"]{
    display:none;
}
.jomsocial{
    background: #e5e5e5;
    padding: 0;
}
.joms-subnav--desktop {
    background: #ffffff;
}
h3.joms-page__title{
    font-size:37px;
	line-height:46px;
	color:#444;
}
.joms-form__legend{
    color:#444;
}
.joms-form__group[for="dst-offset"] { 
    display:none;
}
.joms-stream .dw-toolbar{
	padding:0 14px 14px;	
}